body {
    background-color: rgb(139, 138, 121);
}

.container{
    position: relative;
    display: block;
    border: 3px solid transparent;
    margin: auto;
    margin-top: 100px;
    width: 500px;
    height: 500px;
}


/* ================= HEAD ================== */

.head {
    position: relative;
    margin: auto;
    margin-top: 10%;
    width: 320px;
    height: 280px;
    border-radius: 50%;
    background-color: rgb(224, 215, 215);
}

/*============ ears ============ */
.ear {
    z-index: -1;
    background-color: black;
    position: absolute;
    width: 150px;
    height: 130px;
    border-radius: 50%;
    top: 5%;
}

#left-ear {
  left: 10%;
}

#right-ear {
    left: 60%;
}

.inner-ear {
    position: absolute;
    background-color: #817370;
    width: 40%;
    height: 50%;
    border-radius: 60%;
    top: 25%;
    left: 25%;
}

/* ========== eyes =========== */
.eye {
    background-color: black;
    position: absolute;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    top: 20%;
}

#left-eye {
    transform: rotate(-45deg);
    left: 20%;
}

#right-eye {
    transform: rotate(45deg);
    right: 20%;
}

.inner-eye {
    background-color: white;
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    top: 40%;
}

#left-inner-eye {
    transform: rotate(30deg);
    right: 20%;
}

#right-inner-eye {
    transform: rotate(-30deg);
    left: 20%;
}

.pupil {
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 60%;
    height: 60%;
    border-radius: 50%;
    top: 30%;
}

#left-pupil {
    right: 20%;
}

#right-pupil {
    left: 20%;
}

/* ============= nose ============ */
.nose {
    position: absolute;
    background-color: rgb(85, 78, 78);
    border-radius: 50%;
    width: 20%;
    height: 15%;
    top: 52%;
    left: 40%;
}

/* ============ smile ============= */
.line{
    position: absolute;
    /* border-left: 5px solid black; */
    height: 5%;
    width: 1%;
    background-color: black;
    left: 49.5%;
    bottom: 28%;
}

.smile {
    position: absolute;
    background-color: transparent;
    border-bottom: 6px solid black;
    border-radius: 50%;
    width: 25%;
    height: 20%;
    bottom: 26%;
    left: 37.5%;
}